.row-cols-cards > * {
  flex: 0 0 auto;
  width: 50%;
}

 
@media (min-width: 768px) {
  .row-cols-cards > * {
    flex: 0 0 auto;
    width: 16.555%;
  }
}
@media (min-width: 992px) {
  .row-cols-cards > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
}



.form-control, .form-select {
  height: 3.75rem;padding: 1rem 1.5rem;font-weight: 500;color: var(--white);background-color: #48464691;border-color: #3e3e3e;
  font-size: 1.125rem;
  border-radius: 3rem;


  &:focus, &:active {
    background-color: #3e3e3e;border-color: #3e3e3e;color: var(--white);
  }
  &::placeholder {
    color: var(--white);opacity: .5;font-weight: 500;
  }
}

.card {
  background-color: #48464691;border-color: #ffffff17;

  .link {
    &:hover, &:active {
      color: var(--white);text-decoration: underline;
    }
  }
}

.upload__box, .securit__box {
  border: 1px solid #48464691;
  background-color: #48464691

  input { visibility: hidden; }
}
.upload__box:hover { cursor: pointer; }
.securit__box {
  .form-control {
    height: 2rem;width: 3rem;padding: 0;text-align: center;color: var(--white);font-size: 1rm;
  }
}

.form-check-input {
  width: 1.25rem;height: 1.25rem;background-color: transparent; 
}

.cards__row {
  .card-box {
    width: 100%;
    height: 0;
    padding-top: 165%;
    transition: transform 0.6s;
    transform-style: preserve-3d;

    .card-front, .card-back {
      backface-visibility: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;transition: all .3s ease-in-out;
    }
    .card-front {
      transform: rotateY(180deg);
    }
    .card-back {
      transform: rotateY(0deg);
    }

    &.active {
      .card-front {
        transform: rotateY(0deg);
      }
      .card-back {
        transform: rotateY(180deg);
      }
    } 
  }
  img {
    cursor: pointer;

    &.active {
      border: 2px solid #48464691;

    }
  }
}